* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  color: white;
  background-color: black;
}
.mobile-user-img {
  display: none;
  margin-top: 4px;
}

.side-nav {
  width: 80px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(
      to bottom,
      rgb(23, 23, 23) 40%,
      rgba(236, 37, 83, 0.3)
    )
    100%;
  backdrop-filter: blur(5px);
  padding: 24px 24px;
  overflow-x: hidden;
  transition: width 0.3s;
  color: white;
}

.user {
  overflow: hidden;
  backdrop-filter: blur(5px);
}

.user-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  position: center;
  margin: auto;
  display: block;
  transition: transform 0.3s ease;
  border: 2px solid #ef2a2a;
}

.user-img:hover {
  transform: scale(1.1);
}

.nav-links,
ul {
  list-style: none;
  margin-top: 10px;
  width: 100%;
}

.nav-links li,
ul li {
  display: flex;
  /* align-items: center; */
  gap: 15px;
  padding: 12px 16px;
  border-radius: 10px;
  transition: 0.3s ease;
  cursor: pointer;
}

ul li.active,
.nav-links li.active {
  background: rgb(239, 72, 72);
  border-radius: 8px;
  /* padding: 8px; */
}

ul li.active a,
.nav-links li.active a {
  color: white;
}

.nav-links li i,
ul li i {
  font-size: 18px;
  color: #999;
  width: 25px;
  margin-right: 10px;
}

.nav-links li a,
ul li a {
  text-decoration: none;
  color: #999;
  font-size: 16px;
  white-space: nowrap;
  display: block;
}

.nav-links li:hover,
.nav-links li.active,
ul li:hover,
ul li.active {
  background: rgba(255, 0, 0, 0.15);
}

.nav-links li:hover i,
.nav-links li:hover a,
.nav-links li.active i,
.nav-links li.active a,
ul li:hover i,
ul li:hover a,
ul li.active i,
ul li.active a {
  color: #ff003c;
}
/* Social Section */
.social-section {
  text-align: center;
  margin-bottom: 20px;
}

.social-section p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #bbb;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons a {
  text-decoration: none;
  color: white;
  background: rgba(24, 24, 24, 0.2);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  transition: background 0.3s ease;
}

.social-icons a:hover {
  background: #ff003c;
  transform: scale(1.2);
  text-decoration: none;
  color: white;
}

.socialIcons {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.socialIcons a {
  color: white;
  font-size: 24px;
  transition: color 0.3s ease;
}

.line {
  width: 100%;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .side-nav {
    width: 300px;
    align-items: flex-start;
  }
  .user div {
    display: block;
  }
}

.menu-toggle {
  display: none;
  position: fixed;
  top: 14px;
  right: 20px;
  font-size: 24px;
  color: white;
  z-index: 999;
  cursor: pointer;
}

@media (max-width: 768px) {
  .mobile-nav-bar {
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(72, 72, 72);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1;
  }

  .mobile-user-img {
    display: block;
    width: 50px;
    height: 50px;
    align-items: center;
    padding: auto;
  }
  .menu-toggle {
    display: block;
  }

  .side-nav {
    position: fixed;
    left: -1000px;
    top: 0;
    width: 250px;
    height: 100vh;
    background-color: #111;
    transition: left 0.3s ease;
    z-index: 998;
  }
  .side-nav.open {
    left: 0;
  }
  .side-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /*
  .user-img {
    width: 25px;
    height: 25px;
    justify-content: flex-start;
    border: none;
    margin: 20px 0;
    transition: transform 0.3s ease;
  }
  .user-img:hover {
    transform: scale(1.1);
  }
  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .nav-links li {
    list-style: none;
    margin: 10px 0;
  }

  .nav-links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
  }

  .link-text {
    display: none;
    color: white;
  }

  ul li.active,
  .nav-links li.active {
    background-color: transparent;
  }
  .social-section {
    display: none;
  } */
}

.menu-toggle i {
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.menu-toggle.active i.fa-bars {
  transform: rotate(180deg);
  opacity: 0;
}

.menu-toggle.active i.fa-times {
  transform: rotate(180deg);
  opacity: 1;
}

.side-nav {
  transition: left 0.7s ease;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
